 

   h1 {
    color: white;
  }
  
  
  .wrapper .ball {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #3d3c3a;
    border-radius: 100%;
    float: left;
    background-color: #fff;
    margin: 20px;
    font-weight: 500;
    box-shadow: 1px 1px 0.5px #000;
    animation-duration: .3s;
    align-items: center
}
  .wrapper1 .ball {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #3d3c3a;
    border-radius: 100%;
    float: left;
    background-color: #fff;
    margin: 20px;
    font-weight: 500;
    box-shadow: 1px 1px 0.5px #000;
}


#deposit{
  width: 200px;
  margin-top: 2px;
}
.balance{
  width: 200px;
}

.wrapper{
  width: 100%;
  margin: 50px 0 20px 30px ;
  height: 540px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  
}




@media (min-width: 500px) and (min-height: 400px){
  .wrapper{
      width: 350px;
      height: 300px;
  }
}

@media (min-width: 500px) and (min-height: 401px){
  .wrapper{
      width: 450px;
      height: 400px;
  }
}

@media (min-width: 1000px) and (min-height: 600px){
  .wrapper{
      width: 100%;
      overflow: hidden;
      height: 430px;
      margin-left: 20px
  }
}


